# Initialization

In [1]:
import logging

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
%matplotlib inline
%config InlineBackend.figure_format = 'png'
%config InlineBackend.figure_format = 'retina'

# Загрузка данных

In [3]:
items = pd.read_parquet("./goodsread/items.par")
events = pd.read_parquet("./goodsread/events.par")

# Разбиение с учётом хронологии

Рекомендательные системы на практике работают с учётом хронологии. Поэтому поток событий для тренировки и валидации полезно делить на то, что уже случилось, и что ещё случится. Это позволяет проводить валидацию на тех же пользователях, на которых тренировались, но на их событиях в будущем.

# === Знакомство: "холодный" старт

In [4]:
# зададим точку разбиения
train_test_global_time_split_date = pd.to_datetime("2017-08-01").date()

train_test_global_time_split_idx = events["started_at"] < train_test_global_time_split_date
events_train = events[train_test_global_time_split_idx]
events_test = events[~train_test_global_time_split_idx]

# количество пользователей в train и test
users_train = events_train["user_id"].drop_duplicates()
users_test = events_test["user_id"].drop_duplicates()
# количество пользователей, которые есть и в train, и в test
common_users = list(set(users_train) & set(users_test))

print(len(users_train), len(users_test), len(common_users))

444517 123818 120858

In [6]:
cold_users = set(users_test) - set(common_users)

print(len(cold_users))

2960

In [10]:
top_pop_start_date = pd.to_datetime("2015-01-01").date()

item_popularity = events_train \
    .query("started_at >= @top_pop_start_date") \
    .groupby(["item_id"]).agg(users=("user_id", "nunique"), avg_rating=("rating", "mean")).reset_index()
item_popularity["popularity_weighted"] = item_popularity["users"] * item_popularity["avg_rating"]

# сортируем по убыванию взвешенной популярности
item_popularity = item_popularity.sort_values(by="popularity_weighted",ascending=False).reset_index()

# выбираем первые 100 айтемов со средней оценкой avg_rating не меньше 4
top_k_pop_items = item_popularity.loc[item_popularity["avg_rating"] >= 4][0:100]
top_k_pop_items

     index   item_id  users  avg_rating  popularity_weighted
2    32397  18007564  20231    4.321240              87423.0
3    32633  18143977  19500    4.290872              83672.0
4    30704  16096824  16793    4.301316              72232.0
5        2         3  15191    4.706076              71490.0
7     3718     38447  14651    4.233704              62028.0
..     ...       ...    ...         ...                  ...
131  35414  23093367   4330    4.454503              19288.0
132    378      3636   4677    4.098781              19170.0
134  32845  18293427   4677    4.092367              19140.0
135  33621  18966819   4366    4.375401              19103.0
137  37129  26252859   4377    4.293352              18792.0

[100 rows x 5 columns]

In [11]:
top_k_pop_items = top_k_pop_items.merge(
    items.set_index("item_id")[["author", "title", "genre_and_votes", "publication_year"]], on="item_id")

with pd.option_context('display.max_rows', 100):
    display(top_k_pop_items[["item_id", "author", "title", "publication_year", "users", "avg_rating", "popularity_weighted", "genre_and_votes"]])

,item_id,author,title,publication_year,users,avg_rating,popularity_weighted,genre_and_votes
0,18007564,Andy Weir,The Martian,2014,20231,4.321240,87423.0,"{'Science Fiction': 11966, 'Fiction': 8430}"
1,18143977,Anthony Doerr,All the Light We Cannot See,2014,19500,4.290872,83672.0,"{'Historical-Historical Fiction': 13679, 'Fict..."
2,16096824,Sarah J. Maas,A Court of Thorns and Roses (A Court of Thorns...,2015,16793,4.301316,72232.0,"{'Fantasy': 14326, 'Young Adult': 4662, 'Roman..."
3,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...,1997,15191,4.706076,71490.0,"{'Fantasy': 59818, 'Fiction': 17918, 'Young Ad..."
4,38447,Margaret Atwood,The Handmaid's Tale,1998,14651,4.233704,62028.0,"{'Fiction': 15424, 'Classics': 9937, 'Science ..."
5,15881,"J.K. Rowling, Mary GrandPré",Harry Potter and the Chamber of Secrets (Harry...,1999,13051,4.632442,60458.0,"{'Fantasy': 50130, 'Young Adult': 15202, 'Fict..."
6,11235712,Marissa Meyer,"Cinder (The Lunar Chronicles, #1)",2012,14364,4.179476,60034.0,"{'Young Adult': 10539, 'Fantasy': 9237, 'Scien..."
7,17927395,Sarah J. Maas,A Court of Mist and Fury (A Court of Thorns an...,2016,12190,4.730353,57663.0,"{'Fantasy': 10186, 'Romance': 3346, 'Young Adu..."
8,18692431,"Nicola Yoon, David Yoon","Everything, Everything",2015,14141,4.071706,57578.0,"{'Young Adult': 5175, 'Romance': 3234, 'Contem..."
9,5,"J.K. Rowling, Mary GrandPré",Harry Potter and the Prisoner of Azkaban (Harr...,2004,11900,4.770000,56763.0,"{'Fantasy': 49784, 'Young Adult': 15393, 'Fict..."
10,13206900,Marissa Meyer,"Winter (The Lunar Chronicles, #4)",2015,12301,4.534022,55773.0,"{'Fantasy': 4835, 'Young Adult': 4672, 'Scienc..."
11,21853621,Kristin Hannah,The Nightingale,2015,12314,4.528342,55762.0,"{'Historical-Historical Fiction': 10105, 'Fict..."
12,16068905,Rainbow Rowell,Fangirl,2013,12668,4.120224,52195.0,"{'Young Adult': 9301, 'Contemporary': 5760, 'R..."
13,6,"J.K. Rowling, Mary GrandPré",Harry Potter and the Goblet of Fire (Harry Pot...,2002,10693,4.764706,50949.0,"{'Fantasy': 48257, 'Young Adult': 15483, 'Fict..."
14,9969571,Ernest Cline,Ready Player One,2011,11841,4.289925,50797.0,"{'Science Fiction': 10560, 'Fiction': 7713, 'Y..."
15,23437156,Leigh Bardugo,"Six of Crows (Six of Crows, #1)",2015,11155,4.512416,50336.0,"{'Fantasy': 15409, 'Young Adult': 6520}"
16,15745753,Rainbow Rowell,Eleanor & Park,2013,12433,4.046489,50310.0,"{'Young Adult': 11593, 'Romance': 6881, 'Conte..."
17,17167166,Sarah J. Maas,"Crown of Midnight (Throne of Glass, #2)",2013,11028,4.509884,49735.0,"{'Fantasy': 11344, 'Young Adult': 4695, 'Roman..."
18,13206760,Marissa Meyer,"Scarlet (The Lunar Chronicles, #2)",2013,11519,4.262610,49101.0,"{'Young Adult': 6930, 'Fantasy': 6267, 'Scienc..."
19,13206828,Marissa Meyer,"Cress (The Lunar Chronicles, #3)",2014,10610,4.488124,47619.0,"{'Young Adult': 5813, 'Fantasy': 5413, 'Scienc..."
20,18006496,Sarah J. Maas,"Queen of Shadows (Throne of Glass, #4)",2015,10250,4.610244,47255.0,"{'Fantasy': 8435, 'Young Adult': 3170, 'Romanc..."
21,2657,Harper Lee,To Kill a Mockingbird,2006,10227,4.459372,45606.0,"{'Classics': 41773, 'Fiction': 21733, 'Histori..."
22,20613470,Sarah J. Maas,"Heir of Fire (Throne of Glass, #3)",2014,10137,4.495511,45571.0,"{'Fantasy': 9677, 'Young Adult': 3800, 'Romanc..."
23,18460392,Jennifer Niven,All the Bright Places,2015,10891,4.123037,44904.0,"{'Young Adult': 4691, 'Contemporary': 2534, 'R..."
24,2,"J.K. Rowling, Mary GrandPré",Harry Potter and the Order of the Phoenix (Har...,2004,9543,4.685843,44717.0,"{'Fantasy': 46485, 'Young Adult': 15194, 'Fict..."
25,18774964,"Fredrik Backman, Henning Koch",A Man Called Ove,2014,10044,4.395460,44148.0,"{'Fiction': 7091, 'Contemporary': 1656, 'Audio..."
26,7896527,Sarah J. Maas,"Throne of Glass (Throne of Glass, #1)",2012,10351,4.220172,43683.0,"{'Fantasy': 16888, 'Young Adult': 7306, 'Roman..."
27,20170404,Emily St. John Mandel,Station Eleven,2014,10517,4.128078,43415.0,"{'Fiction': 5860, 'Science Fiction': 3274, 'Sc..."
28,1,J.K. Rowling,Harry Potter and the Half-Blood Prince (Harry ...,2006,8734,4.795970,41888.0,"{'Fantasy': 46400, 'Young Adult': 15083, 'Fict..."
29,136251,J.K. Rowling,Harry Potter and the Deathly Hallows (Harry Po...,2007,8401,4.850732,40751.0,"{'Fantasy': 46667, 'Young Adult': 15403, 'Fict..."
30,16101128,Rick Yancey,"The 5th Wave (The 5th Wave, #1)",2013,9401,4.036060,37943.0,"{'Young Adult': 5331, 'Science Fiction': 3197,..."
31,5470,"George Orwell, Erich Fromm",1984,1950,9088,4.125770,37495.0,"{'Classics': 33441, 'Fiction': 21086, 'Science..."
32,19063,Markus Zusak,The Book Thief,<NA>,8117,4.479241,36358.0,"{'Historical-Historical Fiction': 18340, 'Fict..."
33,22055262,V.E. Schwab,"A Darker Shade of Magic (Shades of Magic, #1)",2015,8665,4.138950,35864.0,"{'Fantasy': 14539, 'Young Adult': 2101, 'Ficti..."
34,23395680,"Amie Kaufman, Jay Kristoff","Illuminae (The Illuminae Files, #1)",2015,8179,4.380853,35831.0,"{'Science Fiction': 3927, 'Young Adult': 3535,..."
35,25494343,Cassandra Clare,"Lady Midnight (The Dark Artifices, #1)",2016,7738,4.558413,35273.0,"{'Fantasy': 4277, 'Young Adult': 2491, 'Romanc..."
36,28260587,Sarah J. Maas,"Empire of Storms (Throne of Glass, #5)",2016,7425,4.557306,33838.0,"{'Fantasy': 6616, 'Young Adult': 2251, 'Romanc..."
37,18798983,Renée Ahdieh,The Wrath and the Dawn (The Wrath and the Dawn...,2015,7895,4.255858,33600.0,"{'Fantasy': 5942, 'Young Adult': 3448, 'Romanc..."
38,23766634,Sarah J. Maas,A Court of Wings and Ruin (A Court of Thorns a...,2017,7463,4.490687,33514.0,"{'Fantasy': 7960, 'Romance': 2365, 'Young Adul..."
39,17675462,Maggie Stiefvater,"The Raven Boys (The Raven Cycle, #1)",2012,8054,4.097095,32998.0,"{'Fantasy': 9481, 'Young Adult': 7067, 'Fantas..."
40,27362503,Colleen Hoover,It Ends with Us,<NA>,7284,4.523476,32949.0,"{'Romance': 3077, 'Contemporary': 1673, 'New A..."
41,23513349,Rupi Kaur,Milk and Honey,2014,7739,4.162553,32214.0,"{'Poetry': 14490, 'Feminism': 1105, 'Nonfictio..."
42,9361589,Erin Morgenstern,The Night Circus,2011,7377,4.086349,30145.0,"{'Fantasy': 16749, 'Fiction': 7058, 'Romance':..."
43,18635016,Kiera Cass,"The One (The Selection, #3)",2014,7345,4.073247,29918.0,"{'Young Adult': 4782, 'Romance': 3852, 'Scienc..."
44,22489107,Marissa Meyer,"Fairest (The Lunar Chronicles, #3.5)",2015,7254,4.040805,29312.0,"{'Fantasy': 2825, 'Young Adult': 2772, 'Scienc..."
45,15749186,Jenny Han,To All the Boys I've Loved Before (To All the ...,2015,7197,4.071419,29302.0,"{'Young Adult': 5919, 'Romance': 4965, 'Contem..."
46,10964,Diana Gabaldon,"Outlander (Outlander, #1)",2005,7015,4.126443,28947.0,"{'Historical-Historical Fiction': 10725, 'Roma..."
47,10194157,Leigh Bardugo,"Shadow and Bone (The Grisha, #1)",2012,7125,4.058947,28920.0,"{'Fantasy': 14290, 'Young Adult': 6921, 'Roman..."
48,20698530,Jenny Han,P.S. I Still Love You (To All the Boys I've Lo...,2015,6921,4.109522,28442.0,"{'Young Adult': 3659, 'Romance': 3112, 'Contem..."
49,27833670,Blake Crouch,Dark Matter,2016,6754,4.122298,27842.0,"{'Science Fiction': 4244, 'Fiction': 3079, 'Th..."
50,22544764,Naomi Novik,Uprooted,2015,6737,4.107615,27673.0,"{'Fantasy': 13419, 'Young Adult': 2048, 'Ficti..."
51,28187,Rick Riordan,The Lightning Thief (Percy Jackson and the Oly...,2006,6452,4.208927,27156.0,"{'Fantasy': 21419, 'Young Adult': 9587, 'Fanta..."
52,23164983,Ransom Riggs,Hollow City (Miss Peregrine’s Peculiar Childre...,<NA>,6644,4.041842,26854.0,"{'Fantasy': 4427, 'Young Adult': 3025, 'Fictio..."
53,15839976,Pierce Brown,"Red Rising (Red Rising, #1)",2014,6403,4.150554,26576.0,"{'Science Fiction': 4634, 'Fantasy': 2920, 'Yo..."
54,28763485,Nicola Yoon,The Sun Is Also a Star,2016,6225,4.195020,26114.0,"{'Young Adult': 3806, 'Romance': 2512, 'Contem..."
55,25489625,Ta-Nehisi Coates,Between the World and Me,2015,5775,4.470303,25816.0,"{'Nonfiction': 6587, 'Autobiography-Memoir': 2..."
56,22738563,Chimamanda Ngozi Adichie,We Should All Be Feminists,2014,5564,4.568116,25417.0,"{'Nonfiction': 6864, 'Feminism': 4519, 'Writin..."
57,13496,George R.R. Martin,"A Game of Thrones (A Song of Ice and Fire, #1)",2005,5721,4.441007,25407.0,"{'Fantasy': 44086, 'Fiction': 10111, 'Fantasy-..."
58,32075671,Angie Thomas,The Hate U Give,2017,5389,4.707552,25369.0,"{'Young Adult': 8354, 'Fiction': 5014, 'Contem..."
59,25111004,Colleen Hoover,November 9,2015,5810,4.366437,25369.0,"{'Romance': 1811, 'New Adult': 1296, 'Contempo..."
60,7171637,Cassandra Clare,"Clockwork Angel (The Infernal Devices, #1)",2010,5874,4.262002,25035.0,"{'Fantasy': 10151, 'Young Adult': 7424, 'Fanta..."
61,7613,"George Orwell, Boris Grabnar, Peter Škerl",Animal Farm,2003,5928,4.189777,24837.0,"{'Classics': 30122, 'Fiction': 17416, 'Science..."
62,1582996,Cassandra Clare,"City of Ashes (The Mortal Instruments, #2)",2008,6056,4.083884,24732.0,"{'Fantasy': 11997, 'Young Adult': 9281, 'Fanta..."
63,1885,"Jane Austen, Anna Quindlen",Pride and Prejudice,2000,5723,4.316617,24704.0,"{'Classics': 46807, 'Fiction': 14324, 'Romance..."
64,13335037,Veronica Roth,"Divergent (Divergent, #1)",2012,5942,4.130596,24544.0,"{'Young Adult': 20260, 'Science Fiction-Dystop..."
65,186074,Patrick Rothfuss,The Name of the Wind (The Kingkiller Chronicle...,2007,5546,4.406780,24440.0,"{'Fantasy': 28188, 'Fiction': 4251, 'Fantasy-E..."
66,30555488,Colson Whitehead,The Underground Railroad,2016,6052,4.029742,24388.0,"{'Historical-Historical Fiction': 5191, 'Ficti..."
67,11870085,John Green,The Fault in Our Stars,2012,5846,4.130003,24144.0,"{'Young Adult': 20449, 'Fiction': 10338, 'Roma..."
68,3777732,Cassandra Clare,"City of Glass (The Mortal Instruments, #3)",<NA>,5476,4.365778,23907.0,"{'Fantasy': 11194, 'Young Adult': 8549, 'Fanta..."
69,15704307,"Brian K. Vaughan, Fiona Staples","Saga, Vol. 1 (Saga, #1)",2012,5324,4.410969,23484.0,"{'Sequential Art-Graphic Novels': 7803, 'Seque..."
70,17378508,Maggie Stiefvater,"Blue Lily, Lily Blue (The Raven Cycle, #3)",2014,5287,4.335729,22923.0,"{'Fantasy': 5121, 'Young Adult': 3651, 'Fantas..."
71,23848559,Jenny Lawson,Furiously Happy: A Funny Book About Horrible T...,2015,5598,4.066274,22763.0,"{'Nonfiction': 3138, 'Humor': 1914, 'Autobiogr..."
72,17851885,"Malala Yousafzai, Christina Lamb",I Am Malala: The Story of the Girl Who Stood U...,2013,5264,4.191869,22066.0,"{'Nonfiction': 5580, 'Biography': 2294, 'Autob..."
73,10025305,Cassandra Clare,"Clockwork Prince (The Infernal Devices, #2)",2011,4906,4.490828,22032.0,"{'Fantasy': 7212, 'Young Adult': 5170, 'Romanc..."
74,8755785,Cassandra Clare,"City of Heavenly Fire (The Mortal Instruments,...",2014,4935,4.461803,22019.0,"{'Fantasy': 5999, 'Young Adult': 4162, 'Fantas..."
75,17788401,Colleen Hoover,Ugly Love,2014,5190,4.222929,21917.0,"{'Romance': 2972, 'New Adult': 2006, 'Contempo..."
76,18335634,Cassandra Clare,"Clockwork Princess (The Infernal Devices, #3)",2013,4634,4.644368,21522.0,"{'Fantasy': 6538, 'Young Adult': 4566, 'Romanc..."
77,18584855,Marissa Meyer,Heartless,2016,5267,4.071578,21445.0,"{'Fantasy': 4654, 'Young Adult': 2581, 'Retell..."
78,18243700,Sarah J. Maas,"The Assassin's Blade (Throne of Glass, #0.1-0.5)",2014,4797,4.444236,21319.0,"{'Fantasy': 4943, 'Young Adult': 2078, 'Romanc..."
79,25899336,Paul Kalanithi,When Breath Becomes Air,<NA>,4810,4.428274,21300.0,"{'Nonfiction': 5848, 'Autobiography-Memoir': 3..."
80,28587957,Jodi Picoult,Small Great Things,2016,4840,4.337190,20992.0,"{'Fiction': 2506, 'Contemporary': 576, 'Audiob..."
81,14061955,Leigh Bardugo,"Siege and Storm (The Grisha, #2)",2013,5195,4.004042,20801.0,"{'Fantasy': 8707, 'Young Adult': 4242, 'Romanc..."
82,6936382,Stephanie Perkins,Anna and the French Kiss (Anna and the French ...,2010,5056,4.109573,20778.0,"{'Young Adult': 6126, 'Romance': 5253, 'Contem..."
83,18214414,Robert Galbraith,"The Silkworm (Cormoran Strike, #2)",2014,5109,4.043648,20659.0,"{'Mystery': 4585, 'Fiction': 2232, 'Mystery-Cr..."
84,25614492,Ruta Sepetys,Salt to the Sea,2016,4657,4.423878,20602.0,"{'Historical-Historical Fiction': 5528, 'Young..."
85,24378015,"Colleen Hoover, Tarryn Fisher","Never Never (Never Never, #1)",<NA>,4942,4.156414,20541.0,"{'Romance': 1111, 'Young Adult': 954, 'Contemp..."
86,15724396,Rick Riordan,The Sword of Summer (Magnus Chase and the Gods...,2015,4834,4.225693,20427.0,"{'Fantasy': 4007, 'Fantasy-Mythology': 1823, '..."
87,77203,"Khaled Hosseini, Berliani M. Nugrahani",The Kite Runner,2004,4515,4.412403,19922.0,"{'Fiction': 14993, 'Historical-Historical Fict..."
88,15796700,"Chimamanda Ngozi Adichie, Jashar Awan",Americanah,2013,4582,4.343518,19902.0,"{'Fiction': 5255, 'Cultural-Africa': 1270, 'Co..."
89,27071490,Yaa Gyasi,Homegoing,2016,4382,4.499315,19716.0,"{'Historical-Historical Fiction': 3664, 'Ficti..."
90,17131869,"Brian K. Vaughan, Fiona Staples","Saga, Vol. 2 (Saga, #2)",2013,4355,4.516648,19670.0,"{'Sequential Art-Graphic Novels': 5510, 'Seque..."
91,15818107,"Christina Baker Kline, Christina Baker Kline",Orphan Train,2013,4750,4.119368,19567.0,"{'Historical-Historical Fiction': 4762, 'Ficti..."
92,8490112,Laini Taylor,Daughter of Smoke & Bone (Daughter of Smoke & ...,2011,4795,4.080501,19566.0,"{'Fantasy': 11681, 'Young Adult': 7110, 'Roman..."
93,14061957,Leigh Bardugo,"Ruin and Rising (The Grisha, #3)",2014,4656,4.176332,19445.0,"{'Fantasy': 7376, 'Young Adult': 3542, 'Romanc..."
94,2767052,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",2008,4372,4.414913,19302.0,"{'Young Adult': 30042, 'Fiction': 16754, 'Scie..."
95,23093367,"Brian K. Vaughan, Fiona Staples","Saga, Vol. 4 (Saga, #4)",2014,4330,4.454503,19288.0,"{'Sequential Art-Graphic Novels': 4243, 'Seque..."
96,3636,Lois Lowry,"The Giver (The Giver, #1)",2006,4677,4.098781,19170.0,"{'Young Adult': 10993, 'Fiction': 9045, 'Class..."
97,18293427,Gabrielle Zevin,The Storied Life of A.J. Fikry,2014,4677,4.092367,19140.0,"{'Fiction': 3795, 'Contemporary': 1100, 'Writi..."
98,18966819,Pierce Brown,"Golden Son (Red Rising, #2)",2015,4366,4.375401,19103.0,"{'Science Fiction': 2613, 'Fantasy': 1372, 'Sc..."
99,26252859,Rick Riordan,"The Hidden Oracle (The Trials of Apollo, #1)",2016,4377,4.293352,18792.0,"{'Fantasy': 3173, 'Fantasy-Mythology': 1514}"

# === Знакомство: первые персональные рекомендации

In [14]:
cold_users_events_with_recs = \
    events_test[events_test["user_id"].isin(cold_users)] \
    .merge(top_k_pop_items, on="item_id", how="left")
cold_users_events_with_recs

,item_id,started_at,read_at,is_read,rating,is_reviewed,user_id,index,users,avg_rating,popularity_weighted,author,title,genre_and_votes,publication_year
0,6900,2017-10-09,2017-10-13,True,4,False,1375894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
1,12555,2017-09-21,2017-10-11,True,3,False,1375894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
2,25899336,2017-09-12,2017-09-17,True,4,True,1375894,36924.0,4810.0,4.428274,21300.0,Paul Kalanithi,When Breath Becomes Air,"{'Nonfiction': 5848, 'Autobiography-Memoir': 3...",<NA>
3,21936809,2017-08-20,2017-08-24,True,4,True,1375894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
4,6952,2017-09-18,2017-09-20,True,3,False,1375894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10262,16181775,2017-09-24,2017-09-25,True,3,False,1263231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
10263,10210,2017-09-16,2017-09-24,True,5,False,1263231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
10264,7907782,2017-08-15,2017-09-05,True,4,False,1263231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
10265,317375,2017-08-06,2017-08-10,True,5,False,1335389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
10266,17855438,2017-08-26,2017-10-14,True,5,False,1166845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>

In [15]:

cold_user_items_no_avg_rating_idx = cold_users_events_with_recs["avg_rating"].isnull()
cold_user_recs = cold_users_events_with_recs[~cold_user_items_no_avg_rating_idx] \
    [["user_id", "item_id", "rating", "avg_rating"]]

In [16]:
cold_user_recs

       user_id   item_id  rating  avg_rating
2      1375894  25899336       4    4.428274
5      1352463  16096824       5    4.301316
8      1352463  18692431       5    4.071706
9      1352463  28763485       2    4.195020
16     1286988     38447       5    4.233704
...        ...       ...     ...         ...
10242  1403739  22055262       4    4.138950
10249  1002519  17675462       5    4.097095
10252  1106396     10964       5    4.126443
10257  1203738   9969571       5    4.289925
10258  1203738   9361589       4    4.086349

[2002 rows x 4 columns]

In [17]:
# посчитаем метрики рекомендаций
from sklearn.metrics import mean_squared_error, mean_absolute_error

rmse = mean_squared_error(cold_user_recs["rating"], cold_user_recs["avg_rating"], squared=False)
mae = mean_absolute_error(cold_user_recs["rating"], cold_user_recs["avg_rating"])
print(round(rmse, 2), round(mae, 2))

0.77 0.62

In [18]:
cold_users_hit_ratio = cold_users_events_with_recs.groupby("user_id").agg(hits=("avg_rating", lambda x: (~x.isnull()).mean()))

print(f"Доля пользователей без релевантных рекомендаций: {(cold_users_hit_ratio == 0).mean().iat[0]:.2f}")
print(f"Среднее покрытие пользователей: {cold_users_hit_ratio[cold_users_hit_ratio != 0].mean().iat[0]:.2f}")

Доля пользователей без релевантных рекомендаций: 0.64
Среднее покрытие пользователей: 0.49

# === Базовые подходы: коллаборативная фильтрация

In [19]:
events[['user_id', 'item_id', 'rating']]

          user_id   item_id  rating
0         1238283     22034       5
1         1238283  22318578       5
2         1238283  22551730       4
3         1238283  22816087       5
5         1238283  17910054       3
...           ...       ...     ...
12914452  1378860      5297       5
12914453  1378860      4900       2
12914454  1378860     14836       3
12914456  1308836     10210       5
12914457  1308836     99561       4

[11767978 rows x 3 columns]

In [20]:
from surprise import Dataset, Reader
from surprise import SVD

# используем Reader из библиотеки surprise для преобразования событий (events)
# в формат, необходимый surprise
reader = Reader(rating_scale=(1, 5))
surprise_train_set = Dataset.load_from_df(events_train[['user_id', 'item_id', 'rating']], reader)
surprise_train_set = surprise_train_set.build_full_trainset()

# инициализируем модель
svd_model = SVD(n_factors=100, random_state=0)

# обучаем модель
svd_model.fit(surprise_train_set)

In [21]:
surprise_test_set = list(events_test[['user_id', 'item_id', 'rating']].itertuples(index=False))

# получаем рекомендации для тестовой выборки
svd_predictions = svd_model.test(surprise_test_set)

In [23]:
from surprise import accuracy

rmse = accuracy.rmse(svd_predictions)
mae = accuracy.mae(svd_predictions)
                     
print(rmse, mae)

RMSE: 0.8289
MAE:  0.6476
0.8288686648707771 0.6475568851342635

In [24]:
from surprise import NormalPredictor

# инициализируем состояние генератора, это необходимо для получения
# одной и той же последовательности случайных чисел, только в учебных целях
np.random.seed(0)

random_model = NormalPredictor()

random_model.fit(surprise_train_set)
random_predictions = random_model.test(surprise_test_set) 
mae = accuracy.mae(random_predictions)
print(mae)

MAE:  0.9989
0.9988512459358723

In [34]:
def get_recommendations_svd(user_id, all_items, events, model, include_seen=True, n=5):

    """ возвращает n рекомендаций для user_id """
    
    # получим список идентификаторов всех книг
    all_items = set(events['item_id'].unique())
        
    # учитываем флаг, стоит ли уже прочитанные книги включать в рекомендации
    if include_seen:
        items_to_predict = list(all_items)
    else:
        # получим список книг, которые пользователь уже прочитал ("видел")
        seen_items = set(events.query("user_id == @user_id")['item_id'].unique())
        
        # книги, которые пользователь ещё не читал
        # только их и будем включать в рекомендации
        items_to_predict = list(all_items - seen_items)
    
    # получаем скоры для списка книг, т. е. рекомендации
    predictions = [model.predict(user_id, item_id) for item_id in items_to_predict]
    
    # сортируем рекомендации по убыванию скора и берём только n первых
    recommendations = sorted(predictions, key=lambda x: x.est, reverse=True)[:n]
    
    return pd.DataFrame([(pred.iid, pred.est) for pred in recommendations], columns=["item_id", "score"])

In [36]:
rec_list = get_recommendations_svd(1296647, items, events_train, svd_model) 
rec_list

   item_id  score
0        1      5
1        2      5
2        3      5
3        5      5
4        6      5

In [37]:
# выберем произвольного пользователя из тренировочной выборки ("прошлого")
user_id = events_train['user_id'].sample().iat[0]

print(f"user_id: {user_id}")

print("История (последние события, recent)")
user_history = (
    events_train
    .query("user_id == @user_id")
    .merge(items.set_index("item_id")[["author", "title", "genre_and_votes"]], on="item_id")
)
user_history_to_print = user_history[["author", "title", "started_at", "read_at", "rating", "genre_and_votes"]].tail(10)
display(user_history_to_print)

print("Рекомендации")
user_recommendations = get_recommendations_svd(user_id, items, events_train, svd_model)
user_recommendations = user_recommendations.merge(items[["item_id", "author", "title", "genre_and_votes"]], on="item_id")
display(user_recommendations)

user_id: 1378002
История (последние события, recent)

,author,title,started_at,read_at,rating,genre_and_votes
56,Douglas Hulick,"Among Thieves (Tales of the Kin, #1)",2013-09-27,2013-10-07,4,"{'Fantasy': 1170, 'Fiction': 73, 'Fantasy-Epic..."
57,H.G. Wells,The Island of Dr. Moreau,2013-09-21,2013-09-27,3,"{'Classics': 3115, 'Science Fiction': 2365, 'F..."
58,Hugh Howey,"Dust (Silo, #3)",2013-09-16,2013-09-22,4,"{'Science Fiction': 1086, 'Fiction': 598, 'Sci..."
59,Hugh Howey,"Shift (Shift, #1-3; Silo, #2)",2013-09-05,2013-09-16,3,"{'Science Fiction': 1226, 'Fiction': 652, 'Sci..."
60,Hugh Howey,"Wool Omnibus (Silo, #1)",2013-08-27,2013-09-05,4,"{'Science Fiction': 3107, 'Fiction': 1607, 'Sc..."
61,"Ryū Murakami, Ralph McCarthy",Audition,2013-07-29,2013-07-31,3,"{'Horror': 366, 'Fiction': 196, 'Asian Literat..."
62,Robert Ludlum,"The Bourne Identity (Jason Bourne, #1)",2013-07-16,2013-07-29,3,"{'Fiction': 2575, 'Thriller': 2075, 'Mystery':..."
63,John Scalzi,Redshirts,2013-07-12,2013-07-15,4,"{'Science Fiction': 3465, 'Fiction': 1113, 'Hu..."
64,John le Carré,The Spy Who Came In from the Cold,2013-07-09,2013-07-12,5,"{'Fiction': 1963, 'Thriller': 893, 'Mystery': ..."
65,Kristin Cashore,"Bitterblue (Graceling Realm, #3)",2013-05-17,2013-05-20,4,"{'Fantasy': 5470, 'Young Adult': 2592, 'Romanc..."

Рекомендации

,item_id,score,author,title,genre_and_votes
0,54741,4.794601,Quino,Toda Mafalda,"{'Sequential Art-Comics': 157, 'Humor': 47, 'S..."
1,11221285,4.766989,Brandon Sanderson,"The Way of Kings, Part 2 (The Stormlight Archi...","{'Fantasy': 641, 'Fiction': 46, 'Fantasy-Epic ..."
2,5031805,4.690915,"Anonymous, Lane T. Dennis, Wayne Grudem",ESV Study Bible,"{'Christian': 114, 'Religion-Theology': 100, '..."
3,862041,4.682133,J.K. Rowling,"Harry Potter Boxset (Harry Potter, #1-7)","{'Fantasy': 3211, 'Young Adult': 1068, 'Fictio..."
4,24812,4.675802,Bill Watterson,The Complete Calvin and Hobbes,"{'Sequential Art-Comics': 867, 'Humor': 378, '..."

# === Базовые подходы: контентные рекомендации

# === Базовые подходы: валидация

# === Двухстадийный подход: метрики

# === Двухстадийный подход: модель

# === Двухстадийный подход: построение признаков